<div class="container">
<%= render 'shared/errors', obj: @trigger %>

<div class="row">
  
  
  <div class="well col-md-4 col-md-offset-4">
    
    <h2><%= @sensor.name %> </h2>
    
    <%= form_for(@trigger, html: { multipart: true }) do |f| %>
    
      
    
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :value %>
      <%= f.text_field :value %>
      
      <%= f.label :webhook_url %>
      <%= f.text_field :webhook_url %>
      
      
      <%= f.hidden_field :sensor_id, :value => @sensor.id %>
      
      <%= f.submit(@trigger.new_record? ? 'Create Trigger' : 'Edit Trigger', class: "btn btn-success") %>
    <% end %>
  </div>
</div>
</div>